version: '3.7'

services:
  backend:
    image: alpine
    restart: unless-stopped
    volumes:
      - ./backend/:/app/:cached
      - static:/app/static/:delegated
    command: python manage.py runserver 0.0.0.0:8000
    depends_on:
      db:
        condition: service_healthy
    ports:
    - 8000:8000

  db:
    restart: unless-stopped
    ports:
      - 15202:5432
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "${POSTGRES_DB-mortgage_calculator_db}", "-U", "${POSTGRES_USER-postgres}" ]
      timeout: 45s
      interval: 10s
      retries: 10

